body {
    font-family: Arial;
    background: #f4f6f8;
    text-align: center;
}

.container {
    width: 450px;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

input {
    margin: 5px;
    padding: 8px;
}

button {
    padding: 8px 12px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

li {
    margin: 8px;
}